@model LawyerWebSiteMVC.Models.ArticleDto

@{
    ViewData["Title"] = "Create Article";
}

<h1>Create Article</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Article.Title" class="control-label"></label>
        <input asp-for="Article.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Article.Subtitle" class="control-label"></label>
        <input asp-for="Article.Subtitle" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Article.Content" class="control-label"></label>
        <textarea asp-for="Article.Content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Article.link" class="control-label"></label>
        <input asp-for="Article.link" class="form-control" />
    </div>
    <div class="form-group">
        <label for="articlePhotos" class="control-label">Article Photos</label>
        <input type="file" multiple class="form-control" id="articlePhotos" name="articlePhotos" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
